Historical NodeRed.json
[{"id":"5bdf3f30b7ad5285","type":"function","z":"602b1eb207ab120a","name":"Historical Commands","func":"let site_id = flow.get(\"site_id\")\nlet current_level = flow.get(\"current_level\")\nlet pumped_flow = flow.get(\"pumped_flow\")\nlet suction_pressure = flow.get(\"suction_pressure\")\nlet ABSOLUTE_PATH = \"\"\nlet SCRIPT = \"\"\nlet ARGS = `${site_id} ${current_level} ${pumped_flow} ${suction_pressure}`\n\nmsg.payload = `${ABSOLUTE_PATH} ${SCRIPT} ${ARGS}`\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":260,"wires":[["c9a64ac9ba0661e3"]]},{"id":"c9a64ac9ba0661e3","type":"exec","z":"602b1eb207ab120a","command":"","addpay":"payload","append":"","useSpawn":"false","timer":"","winHide":false,"oldrc":false,"name":"AEC Historical","x":560,"y":260,"wires":[[],[],[]]},{"id":"562e45a68d7dd2f0","type":"inject","z":"602b1eb207ab120a","name":"30m","props":[{"p":"payload"}],"repeat":"","crontab":"*/30 0-23 * * *","once":false,"onceDelay":0.1,"topic":"","payloadType":"date","x":190,"y":260,"wires":[["5bdf3f30b7ad5285"]]}]